/* TODO: Make it awesome */

body {
  background-color: rgb(48, 48, 48);
  color: rgb(189, 189, 189);
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
  padding: 30px 0px;
}

header nav {
  border-top: black solid thin;
}

header nav ul li{
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 15px 0px;
}

header nav ul li a:link, :visited {
  text-decoration: none;
  color: rgb(189, 189, 189);
}

header nav ul li:hover {
  background-color: black;
}

.card {
  border-top: black solid thin;
  margin-bottom: 30px;
}

section div div ol {
  line-height: 1.5;
  text-align: center;
  margin: 15px;
}

fieldset {
  font-size: large;
  text-align: center;
  line-height: 2;
  margin: 10px 0;
}

footer {
  border-top: black solid thin;
  padding-top: 20px;
  /* margin-top: 50px; */
  text-align: center;
  font-size: small;
}

#cardContents {
  padding-top: 30px;
  margin-bottom: 0px;
}

.card {
  padding-top: 15px;
  line-height: 1.5;
}

#cart th{
  padding: 0 5px;
}

#cart {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}